{% extends 'base.html.twig' %}

{% block title %}Liste des observations{% endblock %}

{% block body %}
    <h1>Liste d'observations</h1>

    {% for observation in observationList %}
       <ul class="observation-obs{{ loop.index }}">
           <li>ID : {{ observation.id }}</li>
           <li>Ajoutée le {{ observation.observedAt|date('d/m/Y à H:i') }}</li>
           <li>Espèce : {{ observation.species }}</li>
           <li>Longitude : {{ observation.longitude }}</li>
           <li>Latitude : {{ observation.latitude }}</li>
           <li>Nombre d'individus : {{ observation.birdNumber }}</li>
           <li>Direction du vol : {{ observation.flightDirection|default('Inconnue') }}</li>
           <li>Sexe : {{ observation.sex|default('Inconnu') }}</li>
           <li>Âge : {{ observation.age|default('Inconnu') }}</li>
           <li>{{ observation.deceased ? 'Animal décédé' : 'Animal vivant' }}</li>
           <li>Cause de la mort : {{ observation.deceased ? observation.deathCause|default('Inconnue') : '-' }}</li>
           <li>Code Atlas : {{ observation.atlasCode|default('Inconnu') }}</li>
           <li>Commentaire : {{ observation.comment|default('Pas de commentaire') }}</li>
           <li>Actions : <a href="{{ url('observation.update', {id: observation.id}) }}">éditer</a> | <a href="{{ url('observation.delete', {id: observation.id}) }}">supprimer</a></li>
       </ul>
    {% else %}
        <p>Il n'y a pas encore d'observation</p>
    {% endfor %}

    <a href="{{ url('observation.add') }}">Ajouter une observation</a>

{% endblock %}
