{% extends 'base.html.twig' %}

{% block title %}Recherche d'observation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesObs.css') }}">
{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="map-container">
        <div id="js-search-map" class="search-map"></div>
        <div class="search-species">
            <p>Rechercher une espèce :</p>
            <div class="search-field" id="input-container" data-get-url="{{ url('observation.get_species') }}" data-search-url="{{ url('observation.ajax.search_observation') }}">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" id="input">
                    <span class="input-group-btn">
                        <button id="search-ok-button" class="btn btn-default" type="button">OK</button>
                    </span>
                </div>

                <div id="js-search-match" class="obs-search-results" >
                    <ul id="search-species-results" style="padding: 0; list-style: none;"></ul>
                </div>
                {#<span class="loader">Chargement...</span>#}
                <span class="no-result"></span>
            </div>
        </div>

        <div class="obs-buttons">
            <a class="step-link" href="#" id="js-start-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            <a class="step-link" href="{{ url('observation.add') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbgOWLTL1GMSI-RPxxrkuaWr9McbLv3WU&callback=searchMap"></script>
    <script src="{{ asset('js/searchObs.js') }}"></script>
{% endblock %}