{% extends 'base.html.twig' %}

{% block title %}Recherche d'observation{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="map-container">
        <div id="js-search-map" style="width: 100%; min-height: 100vh;"></div>
        <div class="search-species">
            <div class="search-field" id="input-container" data-get-url="{{ url('observation.get_species') }}" data-search-url="{{ url('observation.ajax.search_observation') }}">
                <input type="text" name="search" id="input" placeholder="Recherche">
                <div id="js-search-match" style="display:none; background: #fff; border: 1px solid #d8d8d8; max-height: 100px; overflow: scroll;" >
                    <ul id="search-species-results" style="padding: 0; list-style: none;"></ul>
                </div>
                <span class="loader">Chargement...</span>
                <span class="no-result"></span>
            </div>
        </div>
        <a href="{{ url('observation.add') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbgOWLTL1GMSI-RPxxrkuaWr9McbLv3WU&callback=searchMap"></script>
    <script src="{{ asset('js/searchObs.js') }}"></script>
{% endblock %}