{% extends 'base.html.twig' %}

{% block title %}{{ isNewObservation ? "Nouvelle observation" : "Édition d'observation" }}{% endblock %}

{% block body %}
    {% if isNewObservation %}
        <div class="step1">
            <p>Étape 1 : Placer le marqueur de position à l'endroit exact de l'oiseau observé.</p>
        </div>
    {% endif %}

    {# Temporary style #}
    <div id="error"></div>
    <div id="map" style="width: 100%; height: 450px;"></div>

    <hr>

    {% if isNewObservation %}
        <div class="step2">
            <p>Étape 2 : Insérer ou prendre une photographie de l'animal</p>
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_errors(form.image) }}
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
    </div>
    <div>
        {{ form_errors(form.capture) }}
        {{ form_label(form.capture) }}
        {{ form_widget(form.capture) }}
    </div>

    <hr>

    {% if isNewObservation %}
        <div class="step3">
            <p>Étape 3 : Remplir le formulaire ci-dessous en renseignant un maximum d'informations.</p>
        </div>
    {% endif %}

    <div id="ajax-espece-url" data-url="{{ url('observation.ajax.get_species') }}">
        {{ form_errors(form.espece) }}
        {{ form_label(form.espece) }}
        {{ form_widget(form.espece) }}
        <div style="position:relative;">
            <div id="js-match" style="background: #fff; border: 1px solid #d8d8d8; position: absolute; margin-left: 50px; max-height: 100px; overflow: scroll;" ></div>
        </div>
    </div>
    <div>
        {{ form_errors(form.sex) }}
        {{ form_label(form.sex) }}
        {{ form_widget(form.sex) }}
    </div>
    <div>
        {{ form_errors(form.atlasCode) }}
        {{ form_label(form.atlasCode) }}
        {{ form_widget(form.atlasCode) }}
        <span id="js-atlasCode-tooltip">?</span> {# TODO #}
    </div>
    <div>
        {{ form_errors(form.deceased) }}
        {{ form_label(form.deceased) }}
        {{ form_widget(form.deceased) }}
    </div>
    <div>
        {{ form_errors(form.flightDirection) }}
        {{ form_label(form.flightDirection) }}
        {{ form_widget(form.flightDirection) }}
    </div>
    <div>
        {{ form_errors(form.deathCause) }}
        {{ form_label(form.deathCause) }}
        {{ form_widget(form.deathCause) }}
    </div>
    <div>
        {{ form_errors(form.comment) }}
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>

    <button type="submit">{{ isNewObservation ? "Ajouter" : "Mettre à jour" }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbgOWLTL1GMSI-RPxxrkuaWr9McbLv3WU&callback=initMap"></script>
    <script src="{{ asset('js/addObs.js') }}"></script>
{% endblock %}