{% extends 'base.html.twig' %}

{% block title %}{{ isNewObservation ? "Nouvelle observation" : "Édition d'observation" }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesObs.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="tab-content">
            <div id="menu0" class="tab-pane fade in active">
                <div class="instruction">
                    <div class="visible-xs-block mobile-step">
                        <p>Étape 1 : Placer le marqueur de position à l'endroit exact de l'oiseau observé.</p>
                    </div>
                    <div class="hidden-xs">
                        <h2>Localisation de l'observation</h2>
                        <p>Placer le marqueur sur la position de l'animal.</p>
                    </div>
                </div>

                {# Temporary style #}
                <div class="map-container">
                    <div id="map" style="width: 100%; height: 450px;"></div>
                    <div id="error"></div>
                    <a data-toggle="tab" href="#menu1" class="step-link-map"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                </div>
            </div>

            <div id="menu1" class="tab-pane fade">
                <div class="instruction">
                    <div class="visible-xs-block mobile-step">
                        <p>Étape 2 : Insérer ou prendre une photographie de l'animal</p>
                    </div>
                    <div class="hidden-xs">
                        <h2>Insérer une photo</h2>
                        <p>Sélectionner et insérer une photo de l'animal.</p>
                    </div>
                </div>

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="flex-step">
                    <div class="fields upload-btn-wrapper">
                        <button class="btn"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                        {{ form_errors(form.image) }}
                        {{ form_label(form.image) }}
                        {{ form_widget(form.image) }}
                    </div>

                    <div class="nav-buttons">
                        <a data-toggle="tab" href="#menu0" class="step-link"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                        <a data-toggle="tab" href="#menu2" class="step-link"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>


            <div id="menu2" class="tab-pane fade">
                <div class="instruction">
                    <div class="visible-xs-block mobile-step">
                        <p>Étape 3 : Remplir le formulaire ci-dessous en renseignant un maximum d'informations.</p>
                    </div>
                    <div class="hidden-xs">
                        <h3>Informations sur l'oiseau observé</h3>
                    </div>
                </div>

                <div class="flex-step">
                    <div class="fields">
                        <div id="get-species-url" data-url="{{ url('observation.get_species') }}">
                            {{ form_errors(form.espece) }}
                            {{ form_label(form.espece) }}
                            {{ form_widget(form.espece) }}
                            <span class="loader">Chargement...</span>
                            <div style="position:relative;">
                                <div id="js-match" style="display:none; background: #fff; border: 1px solid #d8d8d8; position: absolute; margin-left: 50px; max-height: 100px; overflow: scroll;" >
                                    <ul id="species"></ul>
                                </div>
                            </div>
                        </div>

                        <div>
                            {{ form_errors(form.deceased) }}
                            {{ form_label(form.deceased) }}
                            {{ form_widget(form.deceased) }}
                        </div>
                        <div>
                            {{ form_errors(form.flightDirection) }}
                            {{ form_label(form.flightDirection) }}
                            {{ form_widget(form.flightDirection) }}
                        </div>
                        <div>
                            {{ form_errors(form.deathCause) }}
                            {{ form_label(form.deathCause) }}
                            {{ form_widget(form.deathCause) }}
                        </div>
                        <div>
                            {{ form_errors(form.sex) }}
                            {{ form_label(form.sex) }}
                            {{ form_widget(form.sex) }}
                        </div>
                        <div>
                            {{ form_errors(form.atlasCode) }}
                            {{ form_label(form.atlasCode) }}
                            {{ form_widget(form.atlasCode) }}
                        </div>
                        <div>
                            {{ form_errors(form.comment) }}
                            {{ form_label(form.comment) }}
                            {{ form_widget(form.comment) }}
                        </div>
                    </div>

                    <div class="nav-buttons">
                        <a data-toggle="tab" href="#menu1" class="step-link"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <button class="add-obs-submit" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbgOWLTL1GMSI-RPxxrkuaWr9McbLv3WU&callback=initMap"></script>
    <script src="{{ asset('js/addObs.js') }}"></script>
{% endblock %}