{% form_theme registration_form 'formThemes/_formRegistrationsThemes.html.twig' %}

{{ form_start(registration_form, {'action' : path('security.register'), 'method' : 'POST'}) }}

<div class="col-md-6">
    {{ form_widget(registration_form.firstname, {'attr' : {'class' : 'form-control'}}) }}
    {% if registration_form.firstname.vars.errors | length > 0 %}
    <div class="errors">
        {{ form_errors(registration_form.firstname) }}
    </div>
    {% endif %}
</div>
<div class="col-md-6">
    {{ form_widget(registration_form.lastname, {'attr' : {'class' : 'form-control'}}) }}
    {% if registration_form.lastname.vars.errors | length > 0 %}
    <div class="errors">
        {{ form_errors(registration_form.lastname) }}
    </div>
    {% endif %}
</div>
<div>
    <span class="and-word">et</span>
</div>
<div class="col-md-12">
    {{ form_widget(registration_form.mail, {'attr' : {'class' : ' form-control'}}) }}
    {% if registration_form.mail.vars.errors | length > 0 %}
    <div class="errors">
        {{ form_errors(registration_form.mail) }}
    </div>
    {% endif %}
</div>
<div class="col-md-12">
    {{ form_widget(registration_form.password.first) }}
    <span class="pwd-details">8 caractères minimum dont au moins 1 majuscule et 1 chiffre</span>
    {{ form_widget(registration_form.password.second) }}
    <p class="terms-and-conditions">
        En cliquant sur &laquo; S'inscrire &raquo;, j'accepte les <a href="#">Conditions Générales d'Utilisations</a>
        et la <a href="#">politique de confidentialité</a>.<br>
        <span class="mandatory">* Champs obligatoires</span>
    </p>

    {% if registration_form.password.vars.errors | length > 0 %}
    <div class="errors">
        {{ form_errors(registration_form.password) }}
    </div>
    {% endif %}
</div>

<div class="text-center">
    <button type="submit">S'inscrire gratuitement</button>
</div>
{{ form_end(registration_form) }}