{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesBlog.css') }}">
{% endblock %}

{% block body %}
    <div class="container content">
        <button class="listeArticle-addArticle button-add"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="row">
        {% for article in articles %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="uiCard">
                    <a href="{{ path('blog.show_article', {'id' : article.id }) }}">
                    <div class="uiCard__thumb">
                            <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}">
                    </div>
                    
                    <div class="uiCard__date">
                        <span class="uiCard__day">{{ article.createdAt | date('d') }}</span>
                        <span class="uiCard__month">{{ article.createdAt | date('M') }}</span>
                    </div>
                    
                    <div class="uiCard__body">
                        <div class="uiCard__title">
                            <h3>{{ article.title }}</h3>
                        </div>
                        <div class="uiCard__description">
                            <p class="uiCard__text-article">{{ article.content | striptags }}</p>
                        </div>

                    </div>
                        </a>
                    <footer class="uiCard__footer">
                        <div class="uiCard__meta">
                            <span class="icon icon-time"><span class="glyphicon glyphicon-time uiCard__icon-green" aria-hidden="true"></span>15 heures</span>
                            <span class="icon icon-comment"><span class="glyphicon glyphicon-comment uiCard__icon-green" aria-hidden="true"></span>19 commentaires</span>
                        </div>
                        {% if is_granted('ROLE_NATURALISTE') %}
                            <div class="uiCard__admin">
                                <a href="{{ path('blog.delete_article', {'id' : article.id }) }}"><span class="glyphicon glyphicon-trash uiCard__trash" aria-hidden="true"></span></a>
                            </div>
                        {% endif %}
                    </footer>
                </article>
            </div>
            <hr class="hr">
        {% endfor %}
        </div>
    </div>
{% endblock %}