{% extends 'base.html.twig' %}

{% form_theme form 'formThemes/_FormThemes.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link rel="stylesheet" href="{{ asset('css/stylesBlog.css') }}">
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_style.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}{{ isNewArticle ? 'Ajout' : 'Édition' }} d'un article - {{ parent() }}{% endblock %}

{% block body %}
    <div class="main-layout">
        <h1>{{ isNewArticle ? 'Rédaction' : 'Édition' }} d'un article</h1>
        {{ form_start(form, {attr: {'class':'set-article-form'}}) }}

        {{ form_label(form.title) }}<br/>
        {{ form_widget(form.title) }}
        <div class="containerErrors" style="height: 20px">
            {{ form_errors(form.title) }}
        </div>

        {{ form_label(form.image) }}
        <span class="text-danger">{{ form_errors(form.image) }}</span>
        <div class="upload-btn-wrapper text-center">
            <div class="btn-js btn blue-bg txt-white common-padding">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </div>
            {{ form_widget(form.image) }}
            <div class="js-chosen-picture"></div>
        </div>

        <div class="article-write">
            {{ form_widget(form.content, {'attr' : {'hidden' : 'hidden'}}) }}
        </div>
        <div class="containerErrors" style="height: 20px">
            {{ form_errors(form.content) }}
        </div>

        {{ form_row(form.published) }}

        <div class="new-article-buttons">
            <div class="article-draft">
                <button type="submit" id="draft" class="orange-bg txt-white">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
                <br>
                <small>Brouillon</small>
            </div>

            <div class="article-validate">
                <button type="submit" id="publish" class="orange-bg txt-white">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <br>
                <small>Valider</small>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/textEditorBlog.js') }}"></script>
    <script>
        $('.btn-js').on('click', function() {
            $('.upload-btn-wrapper input[type="file"]').click();
        });

        /* IMAGE */
        var $inputImage = $('#article_form_image_file');

        $inputImage.on('change', function(e) {
            var isFileUploaded = e.target.files.length > 0;
            var $chosenPicture = $('.js-chosen-picture');
            var fileName = (isFileUploaded) ? e.target.files[0].name : null;
            $chosenPicture.text(fileName);
        });
    </script>
{% endblock %}