{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/stylesBlog.css') }}">
{% endblock %}
{% block body %}
    <div class="container show-art-container common-min-height common-centering beige-bg">
        <div class="row article-heading">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                <div>
                    <h1 class="article-title">{{ article.title }}</h1>
                </div>
                <div class="article-image">
                    <img src="{{ asset( article.image.webPath ) }}">
                </div>
            </div>
        </div>

        <div class="row">
            <hr class="hr">

            <div class="fr-view article-content">
                {{ article.content | raw }}
            </div>

            <div class="article-meta">
                <div class="art-meta-first">
                    <p class="article-date"><span class="glyphicon glyphicon-time uiCard__icon-green" aria-hidden="true"></span>{{ article.createdAt|ago  }}
                        {% if is_granted('ROLE_NATURALISTE') %}
                            <a class="article-edit" href="{{ path('blog.edit_article', {'id' : article.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editer</a>
                            <a class="article-remove" href="{{ path('blog.delete_article', {'id' : article.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer</a>
                        {% endif %}
                    </p>
                </div>

                <div class="art-meta-second">
                    <h4 class="article-author">Par Gérard Loiseau</h4>
                </div>
            </div>
        </div>

        <hr class="hr">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 article-pagination">
                {% if previousArticle is not empty %}
                    <a href="{{ path('blog.show_article', {'id': previousArticle[0].id}) }}">
                        <div class="button-article-pagination">
                            <div>
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            </div>
                            <p>Article précédent</p>
                        </div>
                    </a>
                {% endif %}

                {% if nextArticle is not empty %}
                    <a href="{{ path('blog.show_article', {'id': nextArticle[0].id}) }}">
                        <div class="button-article-pagination">
                            <div>
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </div>
                            <p>Article suivant</p>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 article-comment">
                <h2><span class="glyphicon glyphicon-comment uiCard__icon-green" aria-hidden="true"></span>Commentaires</h2>
            </div></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 article-comment">

                <div id="comments"
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            comment-prototype='<div class="comment">
                        <article>
                        <div class="article-comment-heading">

                            <div class="article-comment-profile">
                                <img class="article-comment-profile-picture" src="
                                {% if app.user.image %}
                                    {{ asset(app.user.image.webPath) }}
                                {% else %}
                                    {{ asset('images/no-profile.png') }}
                                {% endif %}">">
                            </div>

                            <div class="article-comment-info">
                                <h4 class="nameUser">{{ user.firstname }} {{ user.lastname }}</h4>
                                <span class="date">Le __date__ à __hour__</span>
                            </div>
                            </div>

                        <p class="contentComment">__comment__</p>
                    </article>
                    <div class="article-comment-admin">
                        <button type="button" class="deleteButton" data-url="/blog/comments/delete/__id__"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer</button>
                    </div>'
                        {% endif %}
                >

                    {% for comment in comments %}
                        <div class="comment">
                            <article>
                                <div class="article-comment-heading">
                                    <div class="article-comment-profile">
                                        <img class="article-comment-profile-picture" src="
                                        {% if app.user.image %}
                                            {{ asset(comment.user.image.webPath) }}
                                        {% else %}
                                            {{ asset('images/no-profile.png') }}
                                        {% endif %}">">
                                    </div>

                                    <div class="article-comment-info">
                                        <h4 class="nameUser">{{ comment.user.firstname }} {{ comment.user.lastname }}</h4>
                                        <span class="date">{{ comment.createdAt|ago }}</span>
                                    </div>
                                </div>

                                <p class="contentComment">{{ comment.content }}</p>
                            </article>
                            {% if is_granted('ROLE_NATURALISTE') or (app.user.id is not null and app.user.id == comment.user.id) %}
                                <div class="article-comment-admin">
                                    <button type="button" class="deleteButton" data-url="{{ path('blog.delete_Comment', {'id' : comment.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer</button>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <p>Aucun commentaire n'a été publié.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 article-write-comment">
                    <h2><span class="glyphicon glyphicon-pencil icon-write"></span>Laisser un commentaire : </h2>
                    <div class="article-write-comment-form">
                        {{ form_start(formComment,{'action' : path('blog.add_Comment'), 'method' : 'POST'}) }}
                        {{ form_label(formComment.content) }}
                        {{ form_widget(formComment.content) }}

                        <div class="article-comment-button-container text-right">
                            <button type="button" class="submitButton" data-url="{{ path('blog.add_Comment') }}" id-article="{{article.id}}"><span class="glyphicon glyphicon-ok"></span> Soumettre</button>
                        </div>
                        <div class="containerErrors" style="height: 20px"></div>
                        {{ form_end(formComment) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ajaxBlog.js') }}"></script>
{% endblock %}