{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_style.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    <div>
        {{ article.title }}
    </div>
    <div>
        <img src="{{ asset( article.image.webPath ) }}">
    </div>
    <hr>
    <div class="fr-view">
        {{ article.content | raw }}
    </div>
    <hr>
    {#comments#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/textEditorBlog.js') }}"></script>
{% endblock %}