<h3>Bonjour {{ user.firstname|capitalize }}, bienvenue chez Nos Amis les Oiseaux !</h3>

<p>Voici les identifiants que vous avez choisis :</p>

<ul>
    <li><strong>Prénom :</strong> {{ user.firstname }}</li>
    <li><strong>Nom :</strong> {{ user.lastname }}</li>
    <li><strong>E-mail :</strong> {{ user.mail }}</li>
    <li><strong>Mot de passe : </strong> *******</li>
</ul>

<p>Vous pouvez <a href="{{ url('observation.add') }}">poster votre première observation</a> dès maintenant.</p>

<p>L'équipe</p>

